.book-detail {
  max-width: 800px;
  margin: 20px auto;
}

mat-card-title,
mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

mat-card-title{
  padding: 14px;
}

h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}
